body{
	font-family: Roboto;
}

/* .navegacion{
	width: 750px;
	margin: 30px auto;
	background: #0F2874;
}

.navegacion ul{
	list-style: none;
} */

/* .menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #E1CC29;
	text-decoration: none;
}

.menu li a:hover{
	color: #FAEE41;
	transition: all .3s;
}


.submenu{
	position: absolute;
	background: #0F2874;
	width: 170%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #E1CC29;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
} */


footer{
	color: rgb(254,254,254);
	background: rgb(43,47,78);
	margin-top: 10px;
	padding: 20px;
}

.enlaces:link{
	color: rgb(254,254,254);
}
.enlaces:hover{
	color: rgb(195, 194, 194);
	text-decoration: none;
}

.enlaces:visited{
	color: rgb(254,254,254);
	text-decoration: none;
}

.titulos{
	font-size: 2rem;
}

#mensaje{
	resize: none;
}
